<section class="center">
    <div>
        <app-user-input-box labelName="Initial investment" [(inputData)]="investment.initialInvestment" [idName]="'initialInvestment'">
        </app-user-input-box>

        <app-user-input-box labelName="Annual investment" [(inputData)]="investment.annualInvestment" [idName]="'annualInvestment'">
        </app-user-input-box>
    </div>
    <div>
        <app-user-input-box labelName="Expected return" [(inputData)]="investment.expectedReturn" [idName]="'expectedReturn'">
        </app-user-input-box>

        <app-user-input-box labelName="Duration" [(inputData)]="investment.duration" [idName]="'duration'">
        </app-user-input-box>
    </div>
    <div>
        <button (click)="onSubmit()">Calculate</button>
    </div>

</section>